@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    margin: 0;
    background: linear-gradient(107.17deg, #958C40 29.35%, rgba(156, 0, 210, 0.8) 78.73%);
}

.title{
    margin: 0;
    background-color: black;
    font-family: "Montserrat";
    font-size: 48px;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
@media(min-width:960px){
    .title{
        text-align: left;
        padding: 150px 0 300px 75px;
        background-color: transparent;
    }
}
.portfolio-card{
    display: grid;
}
@media(min-width:960px){
    .portfolio-card{
        background-color: black;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.portfolio__content{
    background-color: black;
    display: grid;
    flex-direction: column;
}
@media(min-width:960px){
    .portfolio__content{
        padding: 100px 60px 0 60px;
    }
}
.portfolio__img{
    width: 290px;
    height: 230px;
    justify-self: center;
}
.portfolio__title{
    font-family: "Poppins";
    font-size: 24px;
    color: white;
    text-align: center;
}
.portfolio__description{
    margin: 0;
    padding: 0 56px 16px 56px;
    font-family: "Poppins";
    font-size: 16px;
    text-align: center;
    color: white;
}
.portfolio__link{
    font-family: "Poppins";
    font-size: 24px;
    color: #FC6F50;
    text-align: center;
    padding-bottom: 56px;
}